<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Url github:</strong>
  <%= @proyecto.urlgithub %>
</p>

<p>
  <strong>Reponsable:</strong>
  <%= @proyecto.user.username %>
</p>

<%= link_to 'Editar', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Listar', proyectos_path %>
