<%= form_with(model: tarea, local: true) do |form| %>
  <% if tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :tarea_nombre %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tarea_user_id %>
  </div>

  <div class="field">
    <%= form.label :categoria_id %>
    <%= form.text_field :categoria_id, id: :tarea_categoria_id %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id, id: :tarea_estado_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_asignacion %>
    <%= form.date_select :fecha_asignacion, id: :tarea_fecha_asignacion %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio %>
    <%= form.date_select :fecha_inicio, id: :tarea_fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin %>
    <%= form.date_select :fecha_fin, id: :tarea_fecha_fin %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin_real %>
    <%= form.date_select :fecha_fin_real, id: :tarea_fecha_fin_real %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id, id: :tarea_proyecto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
