<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tarea.nombre %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @tarea.user.nil?? "Sin Asignar":@tarea.user.username %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @tarea.categoria.nil?? "":@tarea.categoria.nombre %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tarea.estado.nil?? "":@tarea.estado.estado %>
</p>

<p>
  <strong>Fecha asignacion:</strong>
  <%= @tarea.fecha_asignacion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @tarea.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @tarea.fecha_fin %>
</p>

<p>
  <strong>Fecha fin real:</strong>
  <%= @tarea.fecha_fin_real %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @tarea.proyecto.nil?? "Sin proyecto":@tarea.proyecto.nombre %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
