<p id="notice"><%= notice %></p>

<h1>Mis Tareas</h1>
<h3>Iniciadas</h3>
<% if @iniciadas.count > 0 %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Responsable</th>
    <th>Categoria</th>
    <th>Fecha asignacion</th>
    <th>Fecha fin</th>
    <th>Estado</th>
    <th>Proyecto</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @iniciadas.each do |tarea| %>
      <tr>
        <td><%= tarea.nombre %></td>
        <td><%= tarea.user.nil?? "Sin asignar":tarea.user.username %></td>
        <td><%= tarea.categoria.nil?? "":tarea.categoria.nombre %></td>
        <td><%= tarea.fecha_asignacion %></td>
        <td><%= tarea.fecha_fin %></td>
        <td><%= tarea.estado.nil?? "":tarea.estado.estado %></td>
        <td><%= tarea.proyecto.nil?? "":tarea.proyecto.nombre %></td>
        <td><%= link_to 'Mostrar', tarea %></td>
        <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
        <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <h6>No tienes tareas iniciadas</h6>
    <%end%>
<br>

<h3>Asignadas</h3>
<% if @asignadas.count > 0 %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Responsable</th>
    <th>Categoria</th>
    <th>Fecha asignacion</th>
    <th>Fecha fin</th>
    <th>Estado</th>
    <th>Proyecto</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @asignadas.each do |tarea| %>
      <tr>
        <td><%= tarea.nombre %></td>
        <td><%= tarea.user.nil?? "Sin asignar":tarea.user.username %></td>
        <td><%= tarea.categoria.nil?? "":tarea.categoria.nombre %></td>
        <td><%= tarea.fecha_asignacion %></td>
        <td><%= tarea.fecha_fin %></td>
        <td><%= tarea.estado.nil?? "":tarea.estado.estado %></td>
        <td><%= tarea.proyecto.nil?? "":tarea.proyecto.nombre %></td>
        <td><%= link_to 'Iniciar', iniciar_tarea_path(:id=>tarea) %></td>
        <td><%= link_to 'Mostrar', tarea %></td>
        <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
        <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<h6>No tienes tareas asignadas</h6>
<%end%>
<br>

<h3>Terminadas</h3>
<% if @terminadas.count > 0 %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Responsable</th>
    <th>Categoria</th>
    <th>Fecha asignacion</th>
    <th>Fecha fin</th>
    <th>Estado</th>
    <th>Proyecto</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @terminadas.each do |tarea| %>
      <tr>
        <td><%= tarea.nombre %></td>
        <td><%= tarea.user.nil?? "Sin asignar":tarea.user.username %></td>
        <td><%= tarea.categoria.nil?? "":tarea.categoria.nombre %></td>
        <td><%= tarea.fecha_asignacion %></td>
        <td><%= tarea.fecha_fin %></td>
        <td><%= tarea.estado.nil?? "":tarea.estado.estado %></td>
        <td><%= tarea.proyecto.nil?? "":tarea.proyecto.nombre %></td>
        <td><%= link_to 'Mostrar', tarea %></td>
        <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
        <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<h6>No tienes tareas terminadas</h6>
<%end%>
<br>
<h3>No asignadas</h3>
<% if @no_asignadas.count > 0 %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Responsable</th>
    <th>Categoria</th>
    <th>Fecha asignacion</th>
    <th>Fecha fin</th>
    <th>Estado</th>
    <th>Proyecto</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @no_asignadas.each do |tarea| %>
      <tr>
        <td><%= tarea.nombre %></td>
        <td><%= tarea.user.nil?? "Sin asignar":tarea.user.username %></td>
        <td><%= tarea.categoria.nil?? "":tarea.categoria.nombre %></td>
        <td><%= tarea.fecha_asignacion %></td>
        <td><%= tarea.fecha_fin %></td>
        <td><%= tarea.estado.nil?? "":tarea.estado.estado %></td>
        <td><%= tarea.proyecto.nil?? "":tarea.proyecto.nombre %></td>
        <td><%= link_to 'Mostrar', tarea %></td>
        <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>

        <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<h6>No existen tareas sin asignar</h6>
<%end%>
<br>
<%= link_to 'Nueva Tarea', new_tarea_path %>
