<!DOCTYPE html>
<html>
<head>
  <title>Prolam</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if !current_user.nil? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
 <% end %>
<div class="container-fluid">
<div class="row ">
  <% if !current_user.nil? %>
      <%= render 'layouts/left_navbar.html.erb' %>
  <% end %>
  <div class="col-sm-9 col-md-10 pt-3 ml-sm-auto ml-md-auto ml-auto"  role="main">
    <section id="content">
      <!--<div class="container">-->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      <!--</div>-->
    </section>
  </div>
</div>
</div>
</body>
</html>
