<!DOCTYPE html>
<html>
<head>
  <title>Prolam</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if !current_user.nil? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
 <% end %>
<div class="container-fluid">
<div class="row ">
  <% if !current_user.nil? %>

      <%= render 'layouts/left_navbar.html.erb' %>

  <div class="col-sm-9 col-md-10 pt-3 ml-sm-auto ml-md-auto ml-auto"  role="main">
  <% end %>
  <% if current_user.nil? %>
    <div class="col-sm-12 col-md-12 pt-3 ml-sm-auto ml-md-auto ml-auto"  role="main">
  <% end %>
    <section id="content">
      <!--<div class="container">-->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      <!--</div>-->
    </section>
  <% if current_user.nil? %>
    </div>
  <% end %>
  <% if !current_user.nil? %>
      </div>
  <% end %>
</div>
</div>

<div id="modalForm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">
          &times;
        </button>
        <h4 class="modal-title" id="modalTitle">Titulo</h4>
      </div>
      <div class="modal-body" id="modalBody">
                Contenido del modal
      </div>
    </div>
  </div>
</div>
</body>
</html>
