<!DOCTYPE html>
<html>
<head>
  <title>Prolam</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if !current_user.nil? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
 <% end %>
<div class="container-fluid">
<div class="row ">
  <% if !current_user.nil? %>
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Bienvenido :
                    <%= current_user.email %>
                  </a>
                </li>
                <li class="nav-item">
                  <%= link_to 'Mi Perfil', edit_user_path(current_user),:class => "nav-link #{active_class(edit_user_path(current_user))}"%>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Mis tareas</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Tareas de todos</a>
                </li>
                <li class="nav-item">
                  <%= link_to ' Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete,:class => "nav-link" %>
                </li>
                <li class="nav-item"><a href="/" class="nav-link  <%= active_class("/")%>"> Inicio</a></li>
                <% if current_user.is_colaborador? %>
                    <li class="nav-item"><a href="/home/index" class="nav-link"> Link unico de colaborador</a></li>
                <% end %>
                <% if current_user.is_admin? %>
                    <li class="nav-item"><a href="/admin/users/IMPLEMENTAR" class="nav-link">Link unico de admin</a></li>
                <% end %>
              </ul>
      </nav>
  <% end %>
  <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    <section id="content">
      <!--<div class="container">-->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      <!--</div>-->
    </section>
  </div>
</div>
</div>
</body>
</html>
