<!DOCTYPE html>
<html>
<head>
  <title>Prolam</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if !current_user.nil? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
 <% end %>
<div class="container-fluid">
<div class="row ">
  <% if !current_user.nil? %>
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
              <ul class="nav nav-pills flex-column">
<!-- aqui comienza dropdown -->
                <li class="nav-item dropdown">
                  <div class="row">
                    <div class="col-md-3">
                      <%= avatar_menu(current_user, "rounded-circle") %>
                    </div>
                    <div class="col-md-9">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <%= current_user.username %>
                  </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%= link_to 'Mi Perfil', edit_user_path(current_user),:class => "dropdown-item #{active_class(edit_user_path(current_user))}"%>
                        <%= link_to ' Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete,:class => "dropdown-item" %>
                      </div>
                    </div>
                  </div>

                </li>
                <!-- aqui termina dropdown -->
                <li class="nav-item">
                  <a href="/" class="nav-link <%= active_class("/")%>">Mis tareas activas</a>
                </li>
                <li class="nav-item">
                  <%= link_to "Tareas activas de todos",tareas_path,:class => "nav-link #{active_class(tareas_path)}" %>
                </li>


                <% if current_user.is_colaborador? %>
                    <li class="nav-item"><a href="/home/index" class="nav-link"> Link unico de colaborador</a></li>
                <% end %>
                <% if current_user.is_admin? %>
                    <li class="nav-item"><a href="/admin/users/IMPLEMENTAR" class="nav-link">Link unico de admin</a></li>
                <% end %>
              </ul>
      </nav>
  <% end %>
  <div class="col-sm-9 col-md-10 pt-3 ml-sm-auto ml-md-auto ml-auto"  role="main">
    <section id="content">
      <!--<div class="container">-->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      <!--</div>-->
    </section>
  </div>
</div>
</div>
</body>
</html>
